.FP {
  height: 340px;
  width: 100%;
}
.p {
  font-size: 12px;
}

#inversor{
  background: url("../assets/fondo-vertical.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}
#Loguear, #perfil, #invertirIdea, #RegistrarIdea, #Registrar {
  background: url("../assets/fondo-horizontal.png");
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: 100% 100%;
}
#inversiones {
  background: url("../assets/fondo-inversiones.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}
#invertirIdea {
  background: url("../assets/fondo-inversion.png");
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: 100% 100%;
}
.columnas {
  margin-bottom: 20px;
}
.titulosgrises, .autor{
  font-weight: bold;
  color: #6a6a6a;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top:20px;
}
.subtituloRojo {
  margin-top: 5px;
  font-weight: bold;
  color: #e20000;
  font-size: 17px;
}
.card {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 0;
  width: fit-content;
  border-radius: 20px;
}
.texto {
  font-weight: normal;
  color: #6a6a6a;
  font-size: 15px;
  width: 100%;
  padding: 20px;

  text-align: center;
}
.descripcion {
  font-weight: normal;
  color: #6a6a6a;
  font-size: 15px;
}
.precio {
  font-weight: bold;
  color: #16bd3a;
  font-size: 15px;
}

img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  margin-top: 10px;
}
button {
  margin: 10px;
}

.top-separation {
  margin-top: 2rem; /* Ajusta el valor según la separación deseada */
}

.card-body {
  padding: 0;
  margin: 0;
}

.card-text {
  padding: 10px;
  margin: 5px 5px;
}

.card-title {
  padding: 0;
  margin: 0;
}
.perfilcard{
  justify-content: center;  
}

